# @see https://pkg.go.dev/github.com/rs/zerolog#Level
# -1 for trace level (view sql requests in logs) INFO by default
LOG_LEVEL=1

# BASIC SERVICES ===========================

# Http port for balancer (by default 8002)
HTTP_PORT=8001

# MySQL Configuration
MYSQL_HOST=task-mysql-db-container
MYSQL_ROOT_PASSWORD=rootpassword123
MYSQL_DATABASE=app_db
MYSQL_USER=app_user
MYSQL_PASSWORD=userpassword123
MYSQL_PORT=3306
MYSQL_MAX_IDLE_CONNS=
MYSQL_MAX_OPEN_CONNS=
MYSQL_CONN_MAX_LIFETIME=

# Secret key like in django
SECRET_KEY=super_secret_key_very_long

# Redis Configuration
REDIS_ADDR=host.docker.internal:6379
REDIS_PORT=6379
REDIS_DB=0

# Mock url для теста CircuitBreaker
MAIL_SERVICE=http://email-mock:8080/send