# @see https://pkg.go.dev/github.com/rs/zerolog#Level
# -1 for trace level (view sql requests in logs) INFO by default
LOG_LEVEL=1

# BASIC SERVICES ===========================

# Http port for balancer (by default 8002)
HTTP_PORT=8001

# MySQL Configuration
MYSQL_HOST=task-mysql-db-container
MYSQL_ROOT_PASSWORD=rootpassword123
MYSQL_DATABASE=app_db
MYSQL_USER=app_user
MYSQL_PASSWORD=userpassword123
MYSQL_PORT=3306
MYSQL_MAX_IDLE_CONNS=
MYSQL_MAX_OPEN_CONNS=
MYSQL_CONN_MAX_LIFETIME=

# RabbitMQ Configuration
RABBITMQ_HOST=task-message-broker
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=rabbitmq
RABBITMQ_VHOST=/
RABBITMQ_MANAGEMENT_PORT=15672

RMQ_CONN_URL=amqp://rabbitmq:rabbitmq@task-message-broker:5672/
RMQ_MAIL_EXCHANGE=task
# If true or yeas or y or 1 enable autocreate queue if exchange doesn't exists
RMQ_MAIL_EXCHANGE_AUTOCREATE_ENABLED=

# Secret key like in django
SECRET_KEY=super_secret_key_very_long

REDIS_ADDR=host.docker.internal:6379
REDIS_PORT=6379
REDIS_DB=0